section {
  border: 2px solid grey;
  background: white;
  width: 500px;
}

img {
  height: 52px;
  width: 52px;
}

.row {
  margin-top: 60px;
  margin-bottom: 60px;
}

.quote_full {
  height: 150px;
}

#button_q {
  float:right;
  display: block;
  background: #00aced;
  padding: 10px;
  color:white;
  font-weight: bold;
  border-radius:3px;
  text-decoration: none;
}

#button_q:hover {
  text-decoration: none;
  opacity: 0.8;
}

.row img {
  padding: 10px;
}
